@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header, .secondheader, .container {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
}

/* .size {
    
   
} */

.ingredients {
    position: absolute;
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.drag {
    background-color: goldenrod;
    border: 1px solid rgb(119, 90, 17);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    cursor: grab;
    font-family: "Poppins";
}

.generate {
     
    position: relative;
    top: 650px;
    left: 900px  
}






